/* Box Model Hack */
* {
    box-sizing: border-box;
  }
  
  /* Clear fix hack */
  .clearfix:after {
       content: ".";
       display: block;
       clear: both;
       visibility: hidden;
       line-height: 0;
       height: 0;
  }
  
  .clear {
      clear: both;
  }
  
  /******************************************
  /* BASE STYLES
  /*******************************************/
* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

header {
    background-color: black;
    height: 45px;
    color: white;
    width: 100%;
    list-style: none;
    padding: 0px;
    margin: 0px;
    position: fixed;
    top: 0;
}

body {
    padding: 0px;
    margin: 0px;   
}

a {
    text-decoration: none;
    color: black;
}

/*a:hover {
    font-weight: 800;
}

img:hover {
    transform: scale(1.1);
    transition: transform .5s ease;
}

img.darker {
  transition: all 0.2s ease-in-out;
}

img.darker:hover {
  filter: brightness(50%);
}

.zoom {
    overflow: hidden;
}*/

  /******************************************
  /* NAVIGATION
  /*******************************************/

nav *{
    float: left;
    width: 10%;
    color: white;
    display: block;
}

nav img {
    height: 45px;
    width: 79.99px;
    margin-left: 10px;
    
}

nav img+img {
    width: 50px;
    transform: none;
}

#bbcLogo {
    margin-right: 20px;
    transform: none;
}

nav ul {
    width: 60%;
    font-weight: 600;
}
input {
    width: 100%;
    margin-top: 12px;
}

p a {
    width: 40%;
    margin-left: 20px;
    padding-left: 10px;
    border-left: solid white 1px;
    height: 45px;
    padding-top: 12px;
}

p {
    margin-top: 0;
}

li {
    border-left: solid white 0.5px;
    border-right: solid white 0.5px;
    height: 45px;
    padding-left: 20px;
    padding-top: 12px;
}

ul {
    margin-top: 0;
}

/******************************************
  /* TOP PART
  /*******************************************/

.welcomeText {
    padding-top: 30px;
    font-size: 30px;
    color: #4c4c4c;
    margin-bottom: 20px;
    /*float: left;*/
}

/*.date {
    float: right;
    padding-top: 30px;
    color: #8f8f8f;
    font-size: 28px;
    font-weight: 400;
}*/
/******************************************
  /* MAIN ARTICLE
  /*******************************************/
.frontPage {
    float: left;
    width: 49%;
    height: 500px;
}

.bigPicture {
    width: 700px;
}

.text {
    color: white;
    position: absolute;
}

.mainSectionHeader {
    width: 750px;
    bottom: 60px;
    left: 16px;
    font-size: 34px;
    font-weight: 500;
}

.mainSectionParagraph {
    width: 750px;
    bottom: 18px;
    left: 16px;
    font-size: 20px;
    margin-bottom: 20px;
}

.mainSectionSpan {
    width: 750px;
    bottom: 16px;
    left: 20px;
}

.frontPageContainer {
    position: relative;
}

.redSpan {
    font-weight: 200;
    border-left: solid red 4px;
    padding-left: 12px;
}

/******************************************
  /* 4 RIGHTSIDE ARTICLES
  /*******************************************/

main section > section {
    float: right;
}

main section + section {
    float: left;
    width: 33%;
}

.canadaUS {
    position: relative;
}

.sectionPhoto {
    width: 350px;
}

.sectionHeader {
    width: 350px;
    bottom: 20px;
    font-size: 20px;
    font-weight: 500;  
    right: 140px;

}

.pretendSection {
    position: relative;
}

.numberOne {
    right: 155px;
}

.blueSpan {
    font-weight: 200;
    border-left: solid blue 4px;
    padding-left: 12px;    
}

.firstSpanSection {
    bottom: 20px;
    right: 400px;
    margin-right: 20px;
}